body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(7, 7, 7);
    background-image: url("images/body-background.jpg");
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    background-attachment: fixed;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
    text-align: justify;
}
img{
    width: 100%;
}
h5{
    color: orangered;
}
h4{
    text-align: center;
    color: palegreen;
}
.half-width{
    width: 35%;
    margin: 4% 3.5%;
    padding: 4% 3.5%;
    float: left;
}
.head1{
    color:cornflowerblue;
}
#head2{
    color:crimson;
}
.link-button1{
    text-decoration: none;
    padding: 2% 6%;
    margin: 2% 0%;
    background-image: linear-gradient(to right, dimgrey,cornflowerblue);
    border-radius: 10px;
    font-weight: bold;
    color: whitesmoke;
}
#intro-area{
    height: 600px;
}
#download{
    font-size: 25px;
}
#about-area{
    height: 700px;
}
#work-area{
    padding-top: 80px;
    text-align: center;
    height: 700px;
    margin-bottom: 100px;
    background-color: rgb(8, 8, 8);
}
#work-head{
    color: darkorange;
}
.work-project{
    width: 17%;
    padding: 2% 3%;
    margin-left: 6%;
    margin-right: 3.5%;
    float: left;
    box-shadow: 10px 10px 40px rgb(19, 18, 18);
    border-radius: 5px;
    height: 350px;
}
#image-background{
    width: 60%;
    height: 180px;
    padding: 25px 45px;
    margin: 10% 15%;
    background-image: url("images/long-background.png");
    border-radius: 45px;
}
.quiry-div{
    padding-left: 20px;
    margin-right: 40%;
    float: left;
}
.chat-div{
    margin-top: 7%;
}
.link-button2{
    text-decoration: none;
    padding: 2% 5%;
    margin: 2% 0%;
    background-image: linear-gradient(to right, darkorange, orange);
    border-radius: 10px;
    font-weight: bold;
    color: whitesmoke;
}
footer{
    text-align: center;
    height: 300px;
}
#nav-part{
    margin: 20px;
    margin-right: 50px;
    height: 50px;
    text-align: right;
}
#nav-part a{
    text-decoration: none;
    padding: 15px;
    font-weight: bolder;
    color: dimgray;
}
#nav-part a:hover{
    color: blanchedalmond;
}
#extra-area{
    padding-top: 80px;
    height: 700px;
    background-color: rgb(8, 8, 8);   
}
#card1{
    border-left: 6px solid;
    border-image: linear-gradient(180deg, cyan, blue);
    border-image-slice: 1;
}
#card2{
    border-left: 6px solid;
    border-image: linear-gradient(180deg, pink,red);
    border-image-slice: 1;
}
#card3{
    border-left: 6px solid;
    border-image: linear-gradient(180deg, yellow, orange);
    border-image-slice: 1;
}
.card-extra:hover{
    box-shadow: 10px 10px 40px rgb(97, 148, 145);
}
input, textarea{
    width: 100%;
    padding: 4px;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 5px;
}
button{
    border: none;
    border-radius: 10px;
    background-color: rgb(19, 18, 18);
    padding: 10px 15px;
    margin: 10px;
    cursor: pointer;
}
.icon-div{
    width: 50px;
    height: 50px;
    padding: 10px;
}